<script lang="ts">
  import RotateOffset from "../RotateOffset.svelte";
  import type { VecArray } from "../utils";
  import { useSine3d } from "./animations";

  export let mirrored = false;

  let inv = mirrored ? 1 : -1;

  const offset: VecArray = [40 * inv, 83, 0];
  const rotation = useSine3d([0, 0.1 * inv, -0.1 * inv]);
</script>

<RotateOffset {offset} rotation={$rotation}>
  <slot />
</RotateOffset>
