<script lang="ts">
  import RotateOffset from "../RotateOffset.svelte";
  import type { VecArray } from "../utils";
  import { useSine3d } from "./animations";

  export let mirrored = false;

  const inv = mirrored ? 1 : -1;

  const offset: VecArray = [6 * inv, -170, 0];
  const rotation = useSine3d([-0.15, 0, -0.04 * inv], -0.5);
</script>

<!-- <T.Mesh position={offset}>
  <T.CircleGeometry args={[4]} />
  <T.MeshBasicMaterial />
</T.Mesh> -->

<RotateOffset {offset} rotation={$rotation}>
  <slot />
</RotateOffset>
