<script lang="ts">
  import { T } from "@threlte/core";
  import { useSine3d } from "./animations";

  const rotation = useSine3d([0.07, 0, 0], -1);
</script>

<T.Group rotation={$rotation}>
  <slot />
</T.Group>
