<script lang="ts">
  import { twMerge } from "tailwind-merge";
  import { page } from "$app/stores";
  import Background from "$components/Background.svelte";
  import Logo from "$components/Logo.svelte";
  import Notifications from "$components/Notifications.svelte";
  import PlatformLink from "$components/PlatformLink.svelte";
  import SEO from "$components/SEO.svelte";
  import TvEffect from "$components/TVEffect.svelte";
  import { animationDelays, animationsDone } from "$lib/loadAnimation";
  import { getPagePosition } from "$lib/menu";
  import eliminateI from "./eliminate-i.webp";

  import "../app.css";

  export let data;

  let innerWidth = 0;
  let scrollY = 0;
  let showWhale = true;

  const Whale = import("$components/Whale").then((m) => m.default);

  $: whalePosition = getPagePosition($page.url.pathname);
</script>

<svelte:window bind:scrollY bind:innerWidth />

<SEO />

{#if innerWidth > 768}
  {#await Whale then Whale}
    <div
      class:max-md:opacity-0={whalePosition}
      class={twMerge(
        "fixed inset-0 -z-10 h-full w-full overflow-hidden",
        "transform-gpu !ease-in-out motion-reduce:!transition-none",
        {
          0: "translate-x-1/3",
          1: "-translate-x-1/3",
          center: "",
        }[whalePosition?.[0] ?? "center"],
        whalePosition ? "h-100vh whale-tall" : "whale h-[min(100vw,100vh)]"
      )}
      inert
    >
      <Whale
        active={showWhale}
        scale={whalePosition ? 1.6 : 1}
        offset={[
          whalePosition ? (0.5 - whalePosition[0]) * 55 : 0,
          whalePosition ? (whalePosition[1] - 0.5) * 60 : 0,
          0,
        ]}
      />
    </div>
  {/await}
{/if}

<header
  class:z-50={$animationsDone}
  class={twMerge(
    "fixed top-0 flex h-24 w-full pt-4 transition-all",
    scrollY && "bg-background bg-opacity-10 backdrop-blur-sm"
  )}
>
  {#if $animationsDone}
    <TvEffect local />
  {/if}

  <a href="/" class="m-auto">
    <Logo class="h-20 flex-shrink-0 px-4" />
    <h1 class="sr-only">Eliminate</h1>
  </a>

  <picture>
    <!-- don't download the icon on phone -->
    <source srcset={eliminateI} media="(min-width: 768px)" />
    <img
      src="data:image/svg+xml;charset=utf8,%3Csvg'%3E%3C/svg%3E"
      style:--fadeIn-delay={animationDelays.mainDone + "s"}
      class="absolute left-4 top-4 h-auto w-[8vw] text-accent drop-shadow-glow-lg motion-reduce:hidden max-md:hidden"
      class:fadeIn={!$animationsDone}
      loading="lazy"
      decoding="async"
      alt=""
    />
  </picture>
</header>

<main class="relative grid min-h-full w-full flex-grow grid-cols-1 grid-rows-1 overflow-x-hidden pt-24">
  <slot />
</main>

<footer class="flex items-end justify-around">
  <div class="relative p-2">
    <Background />

    <span class="fadeIn mb-1 ml-3 opacity-70 drop-shadow-glow" style:--fadeIn-delay={animationDelays.links + "s"}>
      My Platforms:
    </span>
    <ul class="flex flex-wrap items-center justify-center gap-2">
      {#each Object.keys(data.site.platforms) as platform, i (platform)}
        <li
          class="uncoverRight flex flex-1"
          style:--uncover-dur="0.3s"
          style:--uncover-delay={animationDelays.links + i * 0.2 + "s"}
        >
          <PlatformLink {platform} />
        </li>
      {/each}
    </ul>
  </div>
</footer>

<TvEffect />
<Notifications />

<style>
  .whale {
    transition: transform 1s, opacity 1s, height 2s 0.5s;
  }
  .whale-tall {
    transition: transform 1s, opacity 1s, height 0.5s;
  }
</style>
