<script lang="ts">
  import { page } from "$app/stores";
  import ArrowCircles from "$components/ArrowCircles.svelte";
  import MenuButton from "$components/MenuButton.svelte";
  import PageWrapper from "$components/PageWrapper.svelte";
  import SkipOverlay from "$components/SkipOverlay.svelte";
  import { animationDelays } from "$lib/loadAnimation";
  import { getMenu, receivePage, sendPage } from "$lib/menu";
  import { mouse } from "$lib/mouse";
  import { reducedMotion } from "$lib/reducedMotion";

  $: [mousePos, distance] = reducedMotion ? [[0, 0], 0] : $mouse;
</script>

<PageWrapper fullWidth whalePadded={false} let:inTransition>
  <SkipOverlay />

  <nav
    class="mx-auto flex max-h-full w-full max-w-7xl flex-grow justify-between transition-transform ease-out max-lg:!transform-none max-md:flex-col md:h-[75vh]"
    style:perspective="300px"
    style:transform={inTransition ? "" : `rotate3d(${mousePos[1]}, ${-mousePos[0]}, 0, ${distance * 60}deg)`}
  >
    {#each getMenu($page.data.site) as menuColumn, i (i)}
      <menu class="my-auto flex flex-col justify-evenly md:h-3/4 md:w-1/2">
        {#each menuColumn as item, j (j)}
          <li
            out:sendPage|global={{ href: item.href, isMenuItem: true }}
            in:receivePage|global={{ href: item.href, isMenuItem: true }}
          >
            <MenuButton {...item} indexFactor={j / (menuColumn.length - 1)} flip={!!i} />
          </li>
        {/each}
      </menu>
      {#if !i}<div class="h-full w-full" />{/if}
    {/each}
  </nav>

  <div class="fadeIn" style:--fadeIn-delay={animationDelays.links + "s"}>
    <ArrowCircles class="absolute bottom-[5vw] right-[5vw] max-xl:hidden" />
  </div>
</PageWrapper>
