<script lang="ts">
  import Link from "$components/Link.svelte";
  import PageWrapper from "$components/PageWrapper.svelte";

  export let data;
</script>

<PageWrapper class="flex flex-col gap-2 text-lg">
  <div>don't.</div>
  <div>message my management at <Link href={"mailto:" + data.site.email}>{data.site.email}</Link></div>
  <div>or book me at <Link href={"mailto:" + data.site.booking}>{data.site.booking}</Link></div>
</PageWrapper>
