<script lang="ts">
  import { useLoader } from "@threlte/core";
  import { T } from "@threlte/core";
  import { tweened } from "svelte/motion";
  import * as THREE from "three";
  import { SVGLoader } from "three/addons/loaders/SVGLoader.js";
  import { colors } from "../colors";
  import { wrapLoad } from "../svgToMesh";
  import type { VecArray } from "../utils";

  export let path: string;
  export let opacity = 1;

  const material = new THREE.MeshBasicMaterial({
    color: "white",
    opacity,
    transparent: opacity != 1,
    depthWrite: false,
  });
  $: material.color.setRGB(...$colors.white, THREE.SRGBColorSpace);

  const emissive = tweened([255, 255, 255] as VecArray, { duration: 500 });
  const emissiveMaterial = new THREE.MeshBasicMaterial({
    color: "lime",
    opacity,
    transparent: opacity != 1,
    depthWrite: false,
  });
  $: emissiveMaterial.color.setRGB(...$emissive, THREE.SRGBColorSpace);
  $: if ($colors.active) {
    emissive.set($colors.emissive);
  } else {
    emissive.set($colors.white, { duration: 1 });
  }

  const svgLoader = useLoader(SVGLoader);
  const load = wrapLoad(svgLoader.load);
</script>

{#await load(path) then geometries}
  {#each geometries as { geometry, emissive }, i (i)}
    <T.Mesh {geometry} material={emissive ? emissiveMaterial : material} />
  {/each}
{/await}
