<script lang="ts">
  import { useLoader } from "@threlte/core";
  import { T } from "@threlte/core";
  import * as THREE from "three";
  import { SVGLoader } from "three/addons/loaders/SVGLoader.js";
  import { useSpin } from "../animations/animations";
  import icon from "../assets/Icon.svg";
  import { colors } from "../colors";
  import { wrapLoad } from "../svgToMesh";

  export let logoRotation = 0;
  export let reverseSpin = false;

  const material = new THREE.MeshBasicMaterial({
    color: "lime",
    depthWrite: false,
  });
  $: material.color.setRGB(...$colors.emissive, THREE.SRGBColorSpace);

  const svgLoader = useLoader(SVGLoader);
  const load = wrapLoad(svgLoader.load);

  const rotation = useSpin(reverseSpin);
</script>

{#await load(icon) then geometries}
  {#each geometries as { geometry }, i (i)}
    <T.Mesh {geometry} {material} rotation={[0, 0, logoRotation]} />
  {/each}
{/await}

<T.Mesh {material} rotation.z={$rotation}>
  <T.TorusGeometry args={[22, 1.5, 12, 48, Math.PI * 1.5]} />
</T.Mesh>

<T.Mesh {material} position={[0, 0, -16]}>
  <T.TorusGeometry args={[22, 1.5, 12, 48]} />
</T.Mesh>
