<script lang="ts">
  import { browser } from "$app/environment";
  import { page } from "$app/stores";
  import EmbedConsent from "$components/EmbedConsent.svelte";
  import Link from "$components/Link.svelte";
  import PageWrapper from "$components/PageWrapper.svelte";
  import { platforms } from "$components/PlatformLink.svelte";
  import { currentDate } from "$lib/utils";
  import type { PageData } from "./$types";
  import nateproffesor from "./nateproffesor.webp";

  export let data: PageData;

  const SCHEDULE_REGEX = /^(?<day>Mon|Tue|Wed|Thu|Fri|Sat|Sun) (?<hour>\d{1,2}):(?<minute>\d{1,2}) - (?<title>.+)$/;
  const DAYS = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"];
  const UNITS = {
    day: 24 * 60 * 60 * 1000,
    hour: 60 * 60 * 1000,
    minute: 60 * 1000,
    second: 1000,
  } satisfies Partial<Record<Intl.RelativeTimeFormatUnitSingular, number>>;
  function parseSchedule(schedule: string) {
    const groups = schedule.match(SCHEDULE_REGEX)!.groups!;
    const day = DAYS.findIndex((d) => d == groups.day) + 1;
    const today = new Date();

    const d = (day - today.getUTCDay()) * UNITS.day;
    const h = (+groups.hour - today.getUTCHours()) * UNITS.hour;
    const m = (+groups.minute - today.getUTCMinutes()) * UNITS.minute;
    const s = (0 - today.getUTCSeconds()) * UNITS.second;
    let eventDate = +today + d + h + m + s;
    // If the event has passed, add a week
    if (eventDate < +today) eventDate += 7 * UNITS.day;

    return { date: new Date(eventDate), title: groups.title };
  }
  const toLocaleDate = (date: Date, opts: Intl.DateTimeFormatOptions) =>
    date.toLocaleString(undefined, { ...opts, timeZone: browser ? undefined : "UTC" });
  const getRelativeTime = (date: Date, now: Date) => {
    const delta = +date - +now;
    let unit: Intl.RelativeTimeFormatUnitSingular = "day";
    let divisor: number = 1;
    for (const item of Object.entries(UNITS)) {
      [unit, divisor] = item;
      if (delta / divisor < 1) continue;
      break;
    }

    return new Intl.RelativeTimeFormat(undefined, { style: "long", numeric: "auto" }).format(
      Math.round(delta / divisor / 0.5) * 0.5,
      unit
    );
  };

  $: schedules = data.site.schedule.map(parseSchedule);
  $: nextSchedule = schedules.sort((a, b) => +a.date - +b.date)[0];
</script>

<PageWrapper fullWidth class="flex flex-col items-start gap-8 md:flex-row">
  <div class="relative z-40 w-full after:block after:pb-[56.25%]">
    <!-- Wrapper element preserves aspect ratio (56.25% = 16:9) -->
    <EmbedConsent
      provider="Twitch"
      policyUrl="https://www.twitch.tv/p/legal/cookie-notice/"
      class="absolute inset-0 h-full w-full"
    >
      <iframe
        class="absolute inset-0 h-full w-full"
        src="https://player.twitch.tv/?channel={data.site.platforms.Twitch[0]}&parent={$page.url.hostname}"
        width="640"
        height="360"
        allowfullscreen
        scrolling="no"
        frameborder="no"
        title="Twitch stream"
        loading="lazy"
      />
    </EmbedConsent>
  </div>

  <div class="relative w-full">
    {#if nextSchedule}
      <p class="mb-16 text-2xl">
        Next stream should happen at
        <span class="text-white"
          >{toLocaleDate(nextSchedule.date, {
            hour: "2-digit",
            minute: "2-digit",
            weekday: "long",
          })}</span
        >, which is
        <span class="text-white">{getRelativeTime(nextSchedule.date, $currentDate)}</span>.
      </p>
    {/if}

    <div class="flex flex-wrap gap-x-2 gap-y-16">
      <div>
        <h2 class="text-xl">
          Stream Schedule{#if browser}{" (in your device's timezone)"}{/if}:
        </h2>
        <dl class="my-4 inline-grid grid-flow-row-dense grid-cols-[repeat(2,auto)] gap-x-2 gap-y-1 text-lg text-white">
          {#each schedules as { date, title }, i (i)}
            <dt class={"col-start-2 font-bold before:mr-2 before:content-['\\2013']"}>{title}</dt>
            <dd class="col-start-1">
              <span>{toLocaleDate(date, { weekday: "long" })}</span>
              <span>{toLocaleDate(date, { hour: "2-digit", minute: "2-digit", timeZoneName: "short" })}</span>
            </dd>
          {/each}
        </dl>

        <p class="mt-12">
          Join my <Link href={platforms.Discord.getLink(data.site.platforms.Discord[0])}>Discord</Link> for latest stream
          announcements.
        </p>
      </div>

      <img src={nateproffesor} class="relative bottom-8 ml-auto h-auto w-64" alt="" loading="lazy" decoding="async" />
    </div>
  </div>
</PageWrapper>
