<script lang="ts">
  import { T } from "@threlte/core";
  import type { VecArray } from "./utils";

  export let offset: VecArray;
  export let rotation: VecArray;

  $: invOffset = offset.map((v) => -v) as VecArray;
</script>

<T.Group position={offset}>
  <T.Group {rotation}>
    <T.Group position={invOffset}>
      <slot />
    </T.Group>
  </T.Group>
</T.Group>
