<script lang="ts">
  import { Canvas, T } from "@threlte/core";
  import { onMount } from "svelte";
  import { circOut, quadInOut } from "svelte/easing";
  import { spring, tweened } from "svelte/motion";
  import { twMerge } from "tailwind-merge";
  import * as THREE from "three";
  import { animationDelays, animationsDone, shouldAnimate } from "$lib/loadAnimation";
  import { mouse } from "$lib/mouse";
  import { reducedMotion } from "$lib/reducedMotion";
  import Renderer from "./Renderer.svelte";
  import FinWrapper from "./animations/FinWrapper.svelte";
  import TailWrapper from "./animations/TailWrapper.svelte";
  import WhaleWrapper from "./animations/WhaleWrapper.svelte";
  import leftFin from "./assets/LeftFin.svg";
  import leftHalf from "./assets/LeftHalf.svg";
  import leftTail from "./assets/LeftTail.svg";
  import rightFin from "./assets/RightFin.svg";
  import rightHalf from "./assets/RightHalf.svg";
  import rightTail from "./assets/RightTail.svg";
  import { colors } from "./colors";
  import Model from "./models/Model.svelte";
  import WhaleCore from "./models/WhaleCore.svelte";
  import type { VecArray } from "./utils";

  const BASE_SCALE = 1 / 8;
  const MAX_TILT = 0.3;

  export let active = true;
  export let offset: VecArray = [0, 0, 0];
  export let scale = 1;
  let classes = "";
  export { classes as class };

  const tweenedOffset = tweened(offset, { duration: reducedMotion ? 0 : 1000, easing: quadInOut });
  $: $tweenedOffset = offset;
  const tweenedScale = tweened(scale, { duration: reducedMotion ? 0 : 1000, easing: quadInOut });
  $: $tweenedScale = scale;
  const getRotationSpring = () =>
    spring([0, 0, 0] as VecArray, {
      stiffness: 0.04,
      damping: 0.9,
      precision: 0.001,
    });
  let rotation = getRotationSpring();

  const targetLeftCorePos: VecArray = [-36, 17, 7];
  const targetRightCorePos: VecArray = [36, 17, 7];
  const leftCorePos = tweened(targetLeftCorePos as VecArray, { duration: 700, easing: circOut });
  const rightCorePos = tweened(targetRightCorePos as VecArray, { duration: 700, easing: circOut });

  let accentColorEl: HTMLElement;
  let clientWidth = 400;
  let clientHeight = 512;
  let innerWidth = typeof window != "undefined" ? window.innerWidth : 0;
  let innerHeight = typeof window != "undefined" ? window.innerHeight : 0;

  $: [delta, distance] = $mouse;

  $: tilt = Math.min(1, distance) ** 0.5 * Math.PI * MAX_TILT;
  $: if ($colors.active && !reducedMotion) rotation.set([delta[1] * tilt, delta[0] * tilt, 0] as VecArray);

  onMount(() => {
    // Figure out accent color
    $colors.emissive = (/rgb\((\d+), (\d+), (\d+)\)/
      .exec(getComputedStyle(accentColorEl).color)
      ?.slice(1)
      .map((v) => parseInt(v) / 255) as VecArray) ?? [0, 0, 0];
  });

  if (shouldAnimate) {
    $colors.active = false;
    $colors.white = [0.7, 0.7, 0.7];
    leftCorePos.set([0, -400, -50], { duration: 1 });
    rightCorePos.set([0, -400, -50], { duration: 1 });
    rotation.set([0, 0, 0], { hard: 1 });
  }

  async function startCores() {
    if (!shouldAnimate) return;
    await Promise.all([leftCorePos.set(targetLeftCorePos), rightCorePos.set(targetRightCorePos)]);
    $colors.active = true;
  }

  $: if ($animationsDone) {
    leftCorePos.set(targetLeftCorePos, { duration: 0 });
    rightCorePos.set(targetRightCorePos, { duration: 0 });
    $colors.active = true;
  }
</script>

<svelte:window bind:innerWidth bind:innerHeight />
<svelte:document on:visibilitychange={() => (rotation = getRotationSpring())} />

<span bind:this={accentColorEl} class="text-accent" />

<div
  class={twMerge("wrapper h-full w-full", !shouldAnimate ? "fadeIn" : "uncoverUp", classes)}
  style:--uncover-dur="2s"
  style:--uncover-ease="linear"
  style:--uncover-delay={animationDelays.whale + "s"}
  on:animationend|self={startCores}
  bind:clientWidth
  bind:clientHeight
>
  <Canvas
    size={{ width: clientWidth, height: clientHeight }}
    shadows={false}
    autoRender={false}
    toneMapping={THREE.NoToneMapping}
    useLegacyLights={false}
    rendererParameters={{
      alpha: true,
      failIfMajorPerformanceCaveat: true,
      powerPreference: "high-performance",
      antialias: false,
      stencil: false,
      depth: false,
    }}
  >
    <T.PerspectiveCamera makeDefault fov={60} position={[0, 0, 75]} near={60} far={120} />

    <Renderer {active} />

    <T.Group
      scale={[BASE_SCALE * $tweenedScale, -BASE_SCALE * $tweenedScale, BASE_SCALE * $tweenedScale]}
      position={$tweenedOffset}
      rotation={$rotation}
    >
      <WhaleWrapper>
        <!-- Shadow -->
        <T.Group position={[0, 0, -20]}>
          <T.Group rotation={[0, -0.25, 0]}>
            <Model path={rightHalf} opacity={0.3} />
          </T.Group>
          <TailWrapper mirrored>
            <Model path={rightTail} opacity={0.3} />
          </TailWrapper>

          <T.Group rotation={[0, 0.25, 0]}>
            <Model path={leftHalf} opacity={0.3} />
          </T.Group>
          <TailWrapper>
            <Model path={leftTail} opacity={0.3} />
          </TailWrapper>
        </T.Group>

        <!-- Right half -->
        <T.Group rotation={[0, 0.25, 0]}>
          <Model path={rightHalf} />

          <T.Group rotation={[0, 0.05, 0]} position={$rightCorePos} scale={0.8}>
            <WhaleCore logoRotation={-Math.PI * 0.5} reverseSpin={true} />
          </T.Group>

          <T.Group rotation={[0, 0.25, 0]} position={[4, 0, 4]}>
            <FinWrapper mirrored>
              <Model path={rightFin} />
            </FinWrapper>
          </T.Group>

          <TailWrapper mirrored>
            <Model path={rightTail} />
          </TailWrapper>
        </T.Group>

        <!-- Left half -->
        <T.Group rotation={[0, -0.25, 0]}>
          <Model path={leftHalf} />

          <T.Group rotation={[0, 0.05, -Math.PI * 0.5]} position={$leftCorePos} scale={0.8}>
            <WhaleCore logoRotation={Math.PI} />
          </T.Group>

          <T.Group rotation={[0, -0.25, 0]} position={[-4, 0, 4]}>
            <FinWrapper>
              <Model path={leftFin} />
            </FinWrapper>
          </T.Group>

          <TailWrapper>
            <Model path={leftTail} />
          </TailWrapper>
        </T.Group>
      </WhaleWrapper>
    </T.Group>
  </Canvas>
</div>
