<script lang="ts">
  import EmbedConsent from "$components/EmbedConsent.svelte";
  import PageWrapper from "$components/PageWrapper.svelte";
  import PlatformLink from "$components/PlatformLink.svelte";

  export let data;
</script>

<PageWrapper fullWidth class="flex gap-8 max-lg:flex-col">
  <section class="flex h-full w-full flex-col items-start">
    <PlatformLink platform="SoundCloud" class="mx-1 opacity-75" />

    <EmbedConsent provider="SoundCloud" policyUrl="https://soundcloud.com/pages/cookies">
      <iframe
        class="relative z-30 h-full w-full"
        scrolling="no"
        frameborder="no"
        loading="lazy"
        sandbox="allow-scripts allow-same-origin"
        src="https://w.soundcloud.com/player/?url=https%3A//soundcloud.com/{data.site.platforms
          .SoundCloud[0]}&color=70ff40&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=false&transparent=true"
        title="Eliminate on SoundCloud"
      />
    </EmbedConsent>
  </section>

  <section class="flex h-full w-full flex-col items-start">
    <PlatformLink platform="Spotify" class="mx-1 opacity-75" />

    <EmbedConsent provider="Spotify" policyUrl="https://soundcloud.com/pages/cookies">
      <iframe
        class="relative z-30 h-full w-full"
        src="https://open.spotify.com/embed/artist/{data.site.platforms.Spotify[0]}?theme=0"
        loading="lazy"
        title="Eliminate on Spotify"
      />
    </EmbedConsent>
  </section>
</PageWrapper>
