<script lang="ts">
  import EmbedConsent from "$components/EmbedConsent.svelte";
  import PageWrapper from "$components/PageWrapper.svelte";

  export let data;
</script>

<PageWrapper whalePadded={false}>
  <a
    href="https://www.songkick.com/artists/{data.site.links.Songkick}"
    class="songkick-widget underline transition hover-focus:text-accent"
    data-theme="dark"
    data-track-button="on"
    data-background-color="transparent">Tour Dates on Songkick</a
  >

  <EmbedConsent
    provider="Songkick"
    policyUrl="https://www.wminewmedia.com/cookies-policy/?ot=a140dd39-6095-48bd-9b3f-b87994ae3f99&url=www.songkick.com"
    class="bg-transparent"
  >
    <script src="https://widget.songkick.com/{data.site.links.Songkick}/widget.js" async defer></script>
  </EmbedConsent>
</PageWrapper>
