<script lang="ts">
  import Markdown from "$components/Markdown.svelte";
  import PageWrapper from "$components/PageWrapper.svelte";

  export let data;

  const ageDelta = new Date(Date.now() - +new Date(data.site.born));
</script>

<PageWrapper>
  <Markdown node={data.content} replacer={(t) => t.replace("%age%", ageDelta.getFullYear() - 1970 + "")} />
</PageWrapper>
