@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HemiHead";
  src: url("/hemi_head.otf") format("opentype");
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 1ex currentColor;
  }

  body:not(.skip) .fadeIn {
    animation: 1s var(--fadeIn-delay, 0s) both fadeIn;
  }

  body:not(.skip) .uncoverLeft {
    animation: var(--uncover-dur, 1s) var(--uncover-ease, ease-in-out) var(--uncover-delay, 0s) both uncoverLeft;
  }
  body:not(.skip) .uncoverRight {
    animation: var(--uncover-dur, 1s) var(--uncover-ease, ease-in-out) var(--uncover-delay, 0s) both uncoverRight;
  }
  body:not(.skip) .uncoverDown {
    animation: var(--uncover-dur, 1s) var(--uncover-ease, ease-in-out) var(--uncover-delay, 0s) both uncoverDown;
  }
  body:not(.skip) .uncoverUp {
    animation: var(--uncover-dur, 1s) var(--uncover-ease, ease-in-out) var(--uncover-delay, 0s) both uncoverUp;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes uncoverLeft {
  from {
    clip-path: inset(0 0 0 100%);
  }
  to {
    clip-path: inset(0);
  }
}
@keyframes uncoverRight {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0);
  }
}
@keyframes uncoverDown {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0);
  }
}
@keyframes uncoverUp {
  from {
    clip-path: inset(100% 0 0 0);
  }
  to {
    clip-path: inset(0);
  }
}
