<script lang="ts">
  const r = 20;
  const circ = 2 * Math.PI * r;
</script>

<circle
  cx="0"
  cy="0"
  {r}
  stroke-dasharray={`${circ * 0.75} ${circ * 0.25}`}
  class="whale-emissive fill-none stroke-current stroke-2"
>
  <animate attributeName="stroke-dashoffset" from="0" to={circ} repeatCount="indefinite" dur="5s" />
</circle>

<path
  d="m-3.906-7.9838v8.332l7.373-8.332zm7.8105 1.0156-7.8105 8.8262v6.125h7.8105zm2.6043 14.959v8.4082h-11.678l-7.2144-7.2144v-4.0593h4.8226l4.1425 4.1425h7.3244v-1.285zm-13.018-15.982v-8.4082h11.678l7.2144 7.2144v4.0593h-4.8226l-4.1425-4.1425h-7.3244v1.285z"
  class="whale-emissive fill-current"
/>

<circle
  cx="0"
  cy="0"
  {r}
  style:transform="translate3d(0, 0, -8px)"
  class="whale-emissive fill-none stroke-current stroke-2"
/>
