<script lang="ts">
  import type { SVGAttributes } from "svelte/elements";

  interface $$Props extends SVGAttributes<SVGGElement> {
    transform?: string;
    transformOrigin?: string;
  }

  export let transform = "translate3d(0,0,-0.1px)";
  export let transformOrigin = "640px 360px 0";
</script>

<g style:transform-style="preserve-3d" style:transform-origin={transformOrigin} style:transform {...$$restProps}>
  <slot />
</g>
