<path
  d="m473.87 349.19c24.612 18.218 24.608 27.873 81.462 45.012l-.11249 8.2174c-37.855-8.0058-59.199-29.117-82.638-49.328z"
  class="fill-none stroke-current"
/>
<path
  d="m555.33 394.2c3.5471-.33338 7.8395-.86318 14.489-2.0142 2.3738 4.943 7.8534 5.6729 12.296 7.8097l.0117 10.694c-9.6956-3.01-18.202-5.6064-26.909-8.2725z"
  class="fill-none stroke-current"
/>
<path d="m566.02 392.82c3.0215 5.3294 7.6704 9.2399 16.102 9.8521" class="fill-none stroke-current" />
<path
  d="m582.12 402.67c5.0204-1.0413 7.858 2.535 11.004 5.4585l2.211 3.9276-13.206-1.3667-.006-5.3472c3.7819 1.4337 6.8579 3.8816 9.9216 6.3471"
  class="fill-none stroke-current"
/>
<path
  d="m596.21 415-14.594.30559-20.446-5.819-6.9541 5.8204 26.931 8.9016.97854-13.519"
  class="fill-none stroke-current"
/>
<path
  d="m581.62 438.69c-2.2026-7.9188.31618-15.875 0-23.386 11.809-.53656 12.44 14.959 0 12.349-20.206-6.6582-40.413-13.181-60.614-23.317l-1.3725-3.3649-23.753-16.189-4.3983-.70397-9.8162-7.0936"
  class="fill-none stroke-current"
/>
<path d="m491.8 384.3c11.391 7.6385 20.239 22.183 53.067 35.652l50.186 19.089" class="fill-none stroke-current" />
<path d="m554.15 415.31-29.08-13.229-1.4986-3.9837-48.52-34.885" class="fill-none stroke-current" />
<path d="m581.26 439.65 11.447 3.224c7.3911-9.8818 6.9289-20.735 2.4516-31.015" class="fill-none stroke-current" />
<path
  d="m581.58 436.92-.12536 3.7738-4.4892 2.5657-20.281-9.5458-10.92.39978-4.5028-3.0007-3.3059-5.6936c-12.965-3.8983-23.836-10.923-35.706-16.457l-3.437-.8664-26.615-29.661-9.7396-22.923c-1.6426-9.1358 7.2664-8.6594 11.771-6.6304l-2.3588 7.2343c2.4427 4.596 6.2768 8.9909 4.661 14.174l31.984 32.626 8.6792 4.6595 2.6282 3.7556 21.408 10.108 4.3986-1.05 14.786 5.4536.47075 3.339z"
  class="fill-current stroke-none"
/>
