<script lang="ts">
  import Layer from "./Layer.svelte";
</script>

<!-- <path
  transform="matrix(-1,0,0,1,1280,0)"
  d="m640 584.86c31.458-11.67 32.966-88.137 46.562-137.08-22.227-33.657 16.529-48.16-5.0674-69.892-35 0-34.064-42.446-1.4733-42.446-15.881-102.39-31.891-114.31-31.891-162.48 54.756-26.641 64.685-47.587 67.213-66.05-28.37 14.489-62.676 6.1322-75.343 19.859"
  class="fill-black stroke-none"
/> -->

<path
  d="m639.11 585.26c-25.699-15.873-26.749-59.204-36.577-89.363 3.3244 2.1362 6.2784 8.631 9.032 17.483 4.0372 5.6992 6.9984 11.789 6.9698 18.963.15727 8.5823 5.8288 15.776 11.068 23.078 3.7357 6.7101 3.2845 19.14 9.5072 29.84z"
  class="fill-current stroke-none"
/>
<path
  d="m638.03 579.52c-.0692-9.7461-1.1383-19.43-1.9965-29.127-1.7542-8.088-6.3372-7.8908-9.5605-11.676-4.1592-11.906-.32941-25.794-12.829-35.629l-4.1138.68391 2.5323 8.9468c10.844 12.333 5.1252 19.84 10.052 29.13 2.9974 4.7944 5.5382 8.2037 10.784 18.559.92487 6.7238 1.8521 13.447 5.132 19.113z"
  class="fill-current stroke-none"
/>
<path d="m638.87 577.05-1.9052-23.517 1.7992-.0655z" class="fill-current stroke-none" />
<path
  d="m603.04 496.34c-10.248-13.447-7.7806-32.094-9.0038-50.08 12.014-11.341 8.1976-34.461-1.5393-44.536l.30954-14.3 2.586.44117c3.6091 17.677 16.899 28.371 5.1698 58.219-.54719 3.7012-.92847 7.8181-.77616 13.272l-.53296 21.126c-.0781 6.6491 14.568 10.524 14.968 5.1401 4.8005-39.781 7.293-70.841 2.9088-100.47l-10.211-4.107-10.961 8.5131"
  class="fill-none stroke-current"
/>
<path
  d="m618.52 440.36-3.3815-3.7168-.22962-35.164 3.2102-5.9915c1.7023 14.638 1.5547 29.653.40086 44.872z"
  class="fill-current stroke-none"
/>
<path
  d="m625.66 537.96c19.552-118.02 8.1758-156.08 7.4654-270.7-2.838.007-3.6353-6.4735.35571-6.7489-.16201-23.13 3.7718-40.824 6.202-60.514"
  class="fill-none stroke-current"
/>
<path d="m628.38 483.37-4.3987-.18854 1.2778-20.802 3.3216-.0567z" class="fill-current stroke-none" />
<path
  d="m620.02 511.38c1.2241-5.7802 2.2392-12.219 2.7999-20.088 9.3693 2.9127 4.0917-22.359 6.1376-33.538l8.0606-24.137"
  class="fill-none stroke-current"
/>
<path
  d="m633.77 546.75c2.9685-9.1069 4.4545-17.172 4.2283-24.035-7.9831-14.985-2.9665-23.053 1.3331-31.502"
  class="fill-none stroke-current"
/>
<path
  d="m600.07 459.1 4.0014 4.0673c-.97702 11.034-3.3912 23.146 8.0502 24.864-16.465-1.6899-12.984-6.8102-12.052-28.931z"
  class="fill-current stroke-none"
/>
<path d="m599.95 459.16 7.0121 6.5569c-5.0202 9.1131-.0418 15.731 5.6957 22.16" class="fill-none stroke-current" />
<path
  d="m607.75 481.09 3.4714-6.7502c-1.3841-12.189 1.0927-12.374 6.0402-15.122l11.555-1.4692"
  class="fill-none stroke-current"
/>
<path d="m621.91 458.4c1.0712-6.7467 6.0301-7.9531 10.397-10.002" class="fill-none stroke-current" />
<path d="m639.59 584.07 1.6948-470.61" class="fill-none stroke-current" />
<path d="m640.67 254.92c-5.8976 3.7753-6.6224 12.42-.19734 15.151z" class="fill-current stroke-none" />
<path
  d="m616.7 384.88 2.5323-9.5057 3.0752-1.8367c2.037 5.3908 8.2951 8.0952 14.037 11.128"
  class="fill-none stroke-current"
/>
<path
  d="m636.42 380.14-9.987-6.34c10.282-15.074 9.2077-29.585-5.6162-41.888 3.6062-20.229 3.4242-72.108 1.6117-90.695"
  class="fill-none stroke-current"
/>
<path d="m622.07 373.78c13.706-16.861 7.7511-27.953-2.7151-37.721l1.3857-4.5666" class="fill-none stroke-current" />
<path d="m619.47 335.88c-4.7965-2.4707-10.009-.70106-15.057-.60984" class="fill-none stroke-current" />
<path
  d="m607.02 335.09c6.5233-29.954 16.454-63.083 22.038-91.449 5.5845-28.365 11.992-69.805 2.5414-81.086"
  class="fill-none stroke-current"
/>
<path
  d="m635 169.32-2.5707 1.7792c4.7148 42.056-21.823 94.102-33.446 164.63l5.451-.46554"
  class="fill-none stroke-current"
/>

<path d="m611.53 281.64c-1.0067 2.112-.92662 36.254-.24188 35.281" class="fill-none stroke-current" />
<circle cx="610.98" cy="470.36" r="2.4725" class="fill-current stroke-none" />
<circle cx="606.51" cy="391" r="5" class="fill-current stroke-none" />

<Layer id="whale-left-tail" transformOrigin="640px 170px" transform="translate3d(0, 0, -0.1px)">
  <circle cx="613.69" cy="126.95" r="2.2027" class="fill-current stroke-none" />
  <path
    d="m617.47 160.35c-17.162-5.9087-52.923-35.822-53.377-54.998-.37365-2.0452 5.0324-2.1276 4.5759 1.1518-.76238 21.476 45.947 50.277 49.935 51.221"
    class="fill-none stroke-current"
  />
  <path
    d="m568.2 106.76c12.175 9.5852 43.125 6.747 68.462 18.609 3.1813 21.786-.35697 30.62-4.8611 37.593"
    class="fill-none stroke-current"
  />
  <path
    d="m633.71 165.47c-7.2293-28.965-25.637-26.326-32.108-49.46-.8896-.13422-2.1057-.78656-4.0199-.73618 4.3739 20.221 24.029 27.328 31.733 45.908"
    class="fill-none stroke-current"
  />
  <path
    d="m617.28 160.63c7.2409 2.0429 11.777 6.2244 15.179 10.897l2.6095-3.1757c-2.3199-5.9289-8.4729-9.5278-15.124-12.824z"
    class="fill-none stroke-current"
  />
</Layer>
