<script lang="ts">
  import Layer from "./Layer.svelte";
</script>

<!-- <path
  d="m640 584.86c31.458-11.67 32.966-88.137 46.562-137.08-22.227-33.657 16.529-48.16-5.0674-69.892-35 0-34.064-42.446-1.4733-42.446-15.881-102.39-31.891-114.31-31.891-162.48 54.756-26.641 64.685-47.587 67.213-66.05-28.37 14.489-62.676 6.1322-75.343 19.859"
  class="fill-black stroke-none"
/> -->

<path
  d="m662.48 544.64c-.0131.0512-.0342.1-.0625.14453-3.6004 4.9161-7.9639 9.0015-10.824 14.383-2.6088 4.9079-3.9801 10.931-2.4414 19.734 7.0619-6.803 12.173-17.818 16.227-31.076z"
  class="fill-current stroke-none"
/>
<path
  d="m657.36 539.01c-9.4267 6.9281-13.408 14.345-15.084 22.016-1.6759 7.6719-1.0921 15.608-1.4121 23.449 2.6901-1.1217 5.1677-2.7025 7.4375-4.7324-1.7521-9.3418-.34987-15.839 2.4141-21.039 2.9439-5.5384 7.3252-9.6462 10.844-14.432.0441-.22841.0772-.28552.1211-.50977z"
  class="fill-current stroke-none"
/>
<path
  d="m644.78 525.18c-.32587 4.6746.20187 7.6823 1.0117 10.572.82203 2.9335 1.757 6.1703 2.0371 11.188 2.2558-2.9674 5.0708-5.8743 8.8574-8.6699l-1.1289-1.2402c-.0269.0136-.0551.0247-.084.0332-.27387.0309-.52109-.16567-.55273-.43945l-.0391-.33594z"
  class="fill-current stroke-none"
/>
<path
  d="m672.33 518.6c-.9172.55961-1.7878 1.185-2.7422 2.543-1.9207 2.7332-4.1376 8.8168-6.8144 22.334l2.9316 3.2246c2.5704-8.6074 4.6711-18.202 6.625-28.102z"
  class="fill-current stroke-none"
/>
<path
  d="m675.19 503.74c-2.2331.18259-4.6417.44156-6.9492 1.7324-2.4868 1.3912-4.8804 3.957-6.7461 9.002-1.8657 5.0449-3.177 12.558-3.4414 23.725-.009.0195-.0183.0384-.0293.0566l3.9336 4.3262c2.6026-12.929 4.7688-19.108 6.8105-22.014 1.0814-1.5388 2.1565-2.3004 3.1602-2.9043.23223-.13973.44811-.27419.67188-.40625.87491-4.4865 1.7658-8.9318 2.5898-13.518z"
  class="fill-current stroke-none"
/>
<path
  d="m669.73 487.54c-.51311-.0518-1.0094-.0404-1.4883.041-1.0446.17753-2.0355.59735-3.0332 1.1289-1.8778 1.0005-3.7356 2.3737-5.8242 3.1836 1.0549 10.402 1.8977 15.082 2.707 18.809 1.6647-3.0821 3.621-4.9636 5.6621-6.1055 1.0817-.60512 2.1721-.89395 3.252-1.166.52464-4.8908 1.4285-9.3218.31641-15.551-.54879-.17297-1.0787-.28803-1.5918-.33984z"
  class="fill-current stroke-none"
/>
<path
  d="m678.51 485.38-5.959 2.7012c-.0665.006-.13361-.00095-.19727-.0215 1.0086 6.0234.21284 10.464-.30273 15.047 1.1612-.21662 2.2796-.31545 3.3281-.40039 1.038-5.7956 2.0897-11.557 3.1309-17.326z"
  class="fill-current stroke-none"
/>
<path
  d="m663.77 482.18c-.58709.0496-1.2143.25126-1.8691.58203-2.538 1.2821-5.1458 4.5012-6.0976 6.8496l2.8398 1.584c.0121-.0218.0258-.0427.041-.0625 2.0322-.69958 3.9545-2.1867 6.0566-3.3066.91115-.48538 1.8947-.82778 2.9121-1.0586-.23883-1.1315-.53004-2.0946-.89844-2.7578-.22615-.0175-.41216-.1851-.45313-.4082l-.0117-.10547c-.29068-.36868-.5711-.7983-.89063-.98047-.49498-.28224-1.0418-.38554-1.6289-.33594z"
  class="fill-current stroke-none"
/>
<path
  d="m648.71 482.1c-1.5865 4.1753-3.5085 7.5672-5.9199 9.8809 4.0183 4.9362 5.5158 10.172 5.4844 15.512-.0316 5.3583-1.5551 10.818-3.4141 16.285l9.8359 10.814z"
  class="fill-current stroke-none"
/>
<path d="m678.79 466.51-1.7734 1.3203-1.791 17.947 2.623-1.1875z" class="fill-current stroke-none" />
<path
  d="m665.18 465.66 2.0742 17.451c.58871.84782 1.0679 1.9624 1.3828 3.4726 1.0368-.10191 2.122-.0386 3.2891.37891l.91797-7.3711c-1.911-3.6857-4.3242-7.3503-3.3301-13.09z"
  class="fill-current stroke-none"
/>
<path
  d="m653.34 456.12 2.0117 32.352c1.2316-2.4907 3.4941-5.2854 6.0957-6.5996 1.4818-.74856 3.0822-.99866 4.4434-.22265.0781.0445.12547.16609.20117.21679l-1.957-16.463c-.014-.006-.0276-.0124-.041-.0195z"
  class="fill-current stroke-none"
/>
<path
  d="m646.03 449.82 9.8145 86.035 1.2871 1.4141c.32151-10.655 1.5664-18.1 3.4297-23.139.26871-.7266.5769-1.3032.86914-1.9394-.0402-.0403-.0729-.0872-.0977-.13867-.87069-3.8791-1.7784-8.7248-2.9121-19.832l-3.7305-2.082c-.14897-.0829-.24541-.23607-.25586-.40625l-2.1211-34.119c.002-.10595.0375-.20854.10156-.29297z"
  class="fill-current stroke-none"
/>
<path
  d="m681.17 449.31-8.0508 4.7734 1.4394 10.461 4.127-2.6621-.002-.23438c.0475-.0939.12332-.17046.2168-.21875l-.22071-4.752c-.0113-.2478.16078-.46643.4043-.51367l2.498-.48828z"
  class="fill-current stroke-none"
/>
<path
  d="m685.71 446.4-3.5938 2.0469.49219 7.6094c.0165.2508-.15574.47487-.40235.52344l-2.5059.49024.22657 4.9141c.008.17726-.0794.34523-.22852.44141l-.008.004.0234 2.7207c.084.0973.12742.22317.12109.35157l-.92383 17.742c2.2724-12.474 4.6516-24.678 7.6484-35.467-.30867-.4674-.56414-.91688-.84961-1.377z"
  class="fill-current stroke-none"
/>
<path
  d="m654.9 440.59c-1.706 2.1699-3.7793 4.3624-6.0488 6.5684l5.1348 4.3398c.75869-3.4152.62308-7.195.91406-10.908z"
  class="fill-current stroke-none"
/>
<path
  d="m662.92 424.03c-.98367 5.06-3.3269 10.217-7.2539 15.477.17692.0957.27927.28809.25976.48828-.38498 3.9823-.0215 8.302-1.043 12.26l8.6875 7.3418-.0957-2.5312-.0176-.0156c-.21044-.17901-.236-.49477-.0566-.70508.0156-.002.0312-.003.0469-.004l-.66406-17.486c-.00084-.008-8e-4-.0156-.002-.0234z"
  class="fill-current stroke-none"
/>
<path
  d="m664.06 408.92-.2793 29.912.67774 17.762 9.0547 7.6973-1.4297-10.393c-.0273-.19921.0673-.39543.24023-.49804l8.625-5.1152-4.8144-12.848c-3.2084 2.1407-6.9976 2.4018-10.779 2.3613-.26787-.003-.48576-.21663-.49414-.48438z"
  class="fill-current stroke-none"
/>
<path
  d="m664.9 402.97.95313 33.799c3.7277.016 7.2584-.26771 10.141-2.3906.009-.0229.0195-.0451.0312-.0664.25404-9.601-.0741-19.048 2.3203-29.545-.32789-.3191-.91966-.634-1.8457-.84375-1.0086-.22844-2.2894-.36328-3.6797-.45508-2.5903-.17094-5.4965-.22124-7.9199-.49804z"
  class="fill-current stroke-none"
/>
<path
  d="m684.84 393.33-5.4512 11.191c-7e-5.0388-.005.0775-.0137.11524-2.4785 10.609-2.09 20.154-2.3652 30.021-.0142.0393-.0332.0767-.0566.11133l4.7734 12.744 3.459-1.9688c-12.187-20.455-1.8129-33.702 1.8848-46.121-.74497-2.2584-1.4897-4.3753-2.2305-6.0938z"
  class="fill-current stroke-none"
/>
<path
  d="m687.57 387.73-2.1504 4.418c.71599 1.5865 1.4312 3.4655 2.1445 5.5117.79988-3.3025.93118-6.5792.006-9.9297z"
  class="fill-current stroke-none"
/>
<path
  d="m644.83 384.52 1.7812 63.406c.32689-.30113.61204-.5983.92774-.89844.003-.0918.0315-.18104.082-.25781.0652-.0195.13362-.0255.20117-.0176 11.686-11.219 15.7-21.76 14.492-31.902-1.237-10.384-7.975-20.441-17.484-30.33z"
  class="fill-current stroke-none"
/>
<path
  d="m685.86 383.47c-.004.007-.009.0144-.0137.0215l-3.541 3.1621c.13047.17873.26453.2526.39453.44336.71743 1.0527 1.4278 2.5172 2.1387 3.9707l2.3242-4.7734c-.34952-.93331-.75442-1.8727-1.3027-2.8242z"
  class="fill-current stroke-none"
/>
<path
  d="m674.71 382.99c-.19826 1.0004-.2914 2.0664-.16406 3.2793-.36451.44198.24544.13368.4375.23828 2.5317-.00021 4.5842 2.0522 4.584 4.584.00021 2.5317-2.0523 4.5842-4.584 4.584-1.8437-.35881-2.3681-.95236-3.8184.0859l-5.7051 6.2402c2.2682.22714 4.9382.30055 7.4277.46485 1.4136.0933 2.732.2289 3.834.47851.78392.17756 1.413.44992 1.9414.80469l5.6367-11.576c-.81329-1.7501-1.6249-3.3357-2.4277-4.5137-1.864-2.7352-3.6689-4.0328-5.4395-4.5352-.56826-.16127-1.1465-.12337-1.7226-.13477z"
  class="fill-current stroke-none"
/>
<path
  d="m673.72 382.92c-2.6379.26896-5.3652 1.7075-8.1836 2.7578-.0394.27246-.018.49838-.082.78907-.0144.0668-.0423.12995-.082.18554-1.7969 2.4803-1.8091 7.522-1.2188 12.043.003.0227.004.0455.004.0684l-.0293 3.207 6.1777-6.7578c.19839-1.0817.11351-2.2857.13086-3.5273-.0272-.19678-.0415-.39511-.043-.59375.003-.82744.22961-1.6387.65625-2.3477.47272-.93376 1.2306-1.8365 2.4961-2.6328-.0979-1.14-.0181-2.1934.17382-3.1914z"
  class="fill-current stroke-none"
/>
<path
  d="m678.32 377.76c-.0361.0933-.0994.17354-.18164.23046-1.6274 1.0414-2.6314 2.3952-3.1758 4.0215.57981.0308 1.1556-.016 1.7422.15039 1.6732.47473 3.3158 1.7866 4.9336 3.748l3.541-3.1641c.058-.0347.12246-.0573.18945-.0664-.99404-1.5675-2.243-3.1605-3.8711-4.7988-1.0938 0-2.1521-.0408-3.1758-.12109z"
  class="fill-current stroke-none"
/>
<path
  d="m672.12 376.64-7.7637 1.7676c.51948 1.7941 1.3951 3.5936 1.3027 6.1504 2.6918-1.056 5.4638-2.464 8.332-2.627.5306-1.7125 1.5186-3.1777 3.0215-4.3242-1.7476-.20091-3.3604-.54648-4.8926-.9668z"
  class="fill-current stroke-none"
/>
<path
  d="m655.46 375.93-10.113 7.6641c9.2368 9.5568 15.944 19.345 17.68 29.59l.13476-14.432c-.48-3.7087-.59763-7.7177.48047-10.703-.0413-.003-.0819-.0119-.12109-.0254l-7.7871-11.949c-.10413-.0181-.19986-.0687-.27344-.14453z"
  class="fill-current stroke-none"
/>
<path
  d="m646.43 349.8-1.5312 32.881 10.016-7.5898c-5.9492-9.0232-7.7999-16.896-6.5859-23.883.0564-.32439.20249-.62092.27149-.94141z"
  class="fill-current stroke-none"
/>
<path
  d="m674.04 300.77c-1.0912 8.1777-3.8442 12.874 1.4473 33.463.0312.0371.0569.0786.0762.12304.0396.13062.0241.27174-.043.39063-.0172.0745-.0839.10657-.12695.16211l.625.82226c1.2924-.15222 2.5922-.29687 4.0039-.29687-2.003-12.914-4.0077-24.374-5.9824-34.664z"
  class="fill-current stroke-none"
/>
<path
  d="m649.65 280.48-3.1797 68.311 2.3984.51758c1.6308-6.332 5.5783-11.946 10.99-17.074-.0759-.5189-.15822-1.0761-.28711-1.8926-.32536-2.0611-.81128-5.0085-1.4277-8.5508-1.2329-7.0845-2.9835-16.547-4.9883-26.055-1.1043-5.237-2.2908-10.382-3.5059-15.256z"
  class="fill-current stroke-none"
/>
<path
  d="m658.68 378.77 5.4141 8.3106c.13747-.26929.22124-.58693.38672-.83008 1.481-5.8784-6.345-18.907-5.8008-7.4805z"
  class="fill-current stroke-none"
/>
<path
  d="m651.61 264.99-1.3926 3.3438-.41406 8.8867c1.5049 5.7466 2.9834 11.9 4.334 18.305 1.6948 8.0372 3.0422 15.451 4.2148 22.016-1.0805-13.521-1.1707-27.444-.24805-41.777l-.31836-1.1328c-.11611-.10712-.17477-.26281-.1582-.41992.33655-1.9695-.34804-4.3365-1.6328-6.1973-1.1353-1.6442-2.7326-2.7176-4.3848-3.0234z"
  class="fill-current stroke-none"
/>
<path
  d="m659.89 240.42-2.3828 18.82c-.0541.0728-.12704.12952-.21094.16406l2.3242 7.8203c.0186.0613.0252.12563.0195.18945-.26562 2.783-.35062 5.4924-.5293 8.2402l12.789 45.801c-1.5927-12.157 1.0141-16.129 1.4356-24.17-4.8808-24.84-9.4802-42.359-13.445-56.865z"
  class="whale-emissive fill-current stroke-none"
/>
<path d="m650.92 230.65 1.959 13.875 3.8477 12.949 2.293-18.102z" class="fill-current stroke-none" />
<path
  d="m641.9 491.96c.21819 34.357.23289 56.093.67669 62.363.58219 1.1282 4.2409-6.0285 4.377-6.2949-.16689-5.6632-1.2236-8.8029-2.1211-12.006-.88389-3.1542-1.5732-6.4175-1.0371-11.928l-.80273-.88281c-.18635-.20431-.17148-.52108.0332-.70703.20431-.18635.52108-.17148.70703.0332l.33789.37109c1.758-5.2425 3.1698-10.427 3.1992-15.426-.63211-6.2725-2.3121-11.627-5.37-15.523zm2.0801-112.47 1.456-29.901-4.4023-.94727c.0438 11.943.20351 19.83.27158 30.811zm-2.7765 6.8176c.26768 43.071.67707 75.674.85541 103.84 3.1393-3.1299 4.871-5.8815 6.0959-9.248.0692-.1555.21265-.26514.38086-.29101l-3.5527-31.139c.029-.1689.14254-.31116.30078-.37696-.10498-.17264-.0957-.39151.0234-.55468.0835-.0923.19842-.15006.32227-.16211l-1.8071-61.796z"
  class="fill-current stroke-none"
/>
<path
  d="m641.03 347.63c.0366-.00043.074.004.11132.0117l4.3438.93555 3.3144-71.244c.89563-3.8752-7.3133-17.706-6.821-6.7704 1.3649 10.745-.46201 59.579-.9485 77.067z"
  class="fill-current stroke-none"
/>
<path
  d="m641.7 256.09c.84808.23795.36598.81992.84906 1.2997.56471.68502 1.1162 1.602 1.6738 2.7285 1.1152 2.2531 2.2475 5.3421 3.3809 8.998.45434 1.4656.89753 3.3323 1.3496 4.9609l.27344-5.877c.003-.0585.0162-.116.0391-.16992l1.4688-3.5234c-.10728-.0534-.19184-.14345-.23828-.2539.0149-.0722.0456-.14025.0898-.19922l-2.4199-4.7695c-.0271-.0538-.0443-.112-.0508-.17188l-6.4766-59.623c-.0761 36.534.39124 37.45.0611 56.601z"
  class="fill-current stroke-none"
/>

<path
  d="m648.16 175.89-2.3711.21289.24609 20.004 4.6328 32.801 8.6211 9.2832c-6.3385-23.108-10.788-38.479-11.129-62.301z"
  class="fill-current stroke-none"
/>
<path
  d="m658.71 278.36c.37446 18.366-1.1134 35.17 2.6816 56.406l-7.2109 11.666c5.514-4.2507 6.9764-9.31 20.355-11.992-1.4562-10.058-3.295-7.4274-15.826-56.08zm9.8672 47.365a3.2321 3.2321 0 013.2324 3.2305 3.2321 3.2321 0 01-3.2324 3.2324 3.2321 3.2321 0 01-3.2305-3.2324 3.2321 3.2321 0 013.2305-3.2305z"
  class="fill-current stroke-none"
/>
<path
  d="m643.37 128.11c-3.1983 17.752-.11107 52.55-.73633 71.295l6.4609 59.508 2.5254 4.9727c2.0659.30623 3.9144 1.6998 5.1992 3.5606.75005 1.0862 1.278 2.3198 1.5898 3.5859.0992-1.2139.11644-2.3945.23242-3.6152l-6.7344-22.648c-.007-.0237-.0122-.0478-.0156-.0723l-2.166-15.334-.67969-.73242c-.18787-.20273-.17532-.51942.0274-.70703.14517-.0669.31357-.0604.45312.0176l-4.4805-31.723c-.003-.0207-.005-.0416-.006-.0625l-.28125-22.869c-.00093-.0655.011-.13053.0352-.19141.9606-2.7976 1.9278-4.1137 3.0176-6.4375-.0186-.0475-.0298-.0975-.0332-.14843.49763-2.8182-.58207-5.3789.47071-7.9707-6.8094-10.059-5.2488-24.394-4.8789-30.428z"
  class="fill-current stroke-none"
/>
<circle cx="675" cy="391" r="3.5" class="whale-emissive fill-current stroke-none" />
<ellipse cx="672.37" cy="470.97" rx="2" ry="2" class="whale-emissive fill-current stroke-none" />

<Layer id="whale-right-tail" transformOrigin="640px 170px" transform="translate3d(0, 0, -0.1px)">
  <path
    d="m684.89 115.53c-1.4459.20086-2.8701.42906-4.2949.59961.56397 2.6261-.99374 5.4999-3.5449 8.7422-2.5704 3.2666-6.2096 6.9437-10.043 11.092-6.8269 7.3875-14.221 16.269-17.293 26.775 4.9036-8.849 10.618-15.666 16.154-21.836 7.5078-8.3661 14.646-15.609 19.021-25.373z"
    class="fill-current stroke-none"
  />
  <path
    d="m679.63 116.24c-11.343 5.2351-24.9 2.3916-33.24 6.082-.55443 6.5959-2.3894 13.311-2.3223 19.033.11935 5.5597 1.7008 10.903 6.5293 15.996 3.7196-8.5391 9.9388-15.854 15.678-22.064 3.8474-4.1633 7.4804-7.8372 9.9922-11.029 2.5118-3.192 3.8309-5.8628 3.3535-7.9629.002-.0184.005-.0367.01-.0547zm-11.746 8.5098a2.2027 2.2027 0 012.2031 2.2031 2.2027 2.2027 0 01-2.2031 2.2012 2.2027 2.2027 0 01-2.2031-2.2012 2.2027 2.2027 0 012.2031-2.2031z"
    class="fill-current stroke-none"
  />
  <path
    d="m705.01 114.41c-.5771.0585-1.2504.19708-2.0098.43164-1.5774.48723-3.4802 1.3249-5.5918 2.4512-4.2232 2.2526-9.2828 5.6619-14.361 9.7461-9.9574 8.0078-19.911 18.623-24 28.123 3.3171.79 8.191-.63521 13.605-3.6172 5.7298-3.1557 11.999-7.8996 17.592-12.99 5.5929-5.0906 10.515-10.534 13.562-15.053 1.524-2.2596 2.5761-4.2928 3.0156-5.8906.21978-.79891.28388-1.4842.20508-2.0254-.0712-.48955-.28317-.83014-.58203-1.125-.37751-.0877-.85845-.10919-1.4356-.0508z"
    class="fill-current stroke-none"
  />
  <path
    d="m715.34 106.9c-.79334.40518-1.5968.76542-2.3984 1.1348l.13477.32227c.26366.0815.41139.36127.33008.625-12.075 28.649-36.544 44.651-61.553 52.377-.10143.21802-4.213 7.9874-4.3164 8.2007.24162.41424 1.0701 1.5486 1.9434 2.7188 53.545-26.32 63.353-47.072 65.859-65.379z"
    class="whale-emissive fill-current stroke-none"
  />
  <path
    d="m686.47 121.73 1.9214.0667c3.1609-1.5214 6.0045-3.4696 7.8175-6.8049-6.9437-1.79-10.644-.0395-9.7389 6.7382z"
    class="fill-current stroke-none"
  />
</Layer>
