<script lang="ts">
  import { twMerge } from "tailwind-merge";
  import { randomBrightness } from "$lib/randomBrightness";
  import Core from "./Core.svelte";
  import Layer from "./Layer.svelte";
  import LeftFin from "./LeftFin.svelte";
  import LeftHalf from "./LeftHalf.svelte";
  import RightFin from "./RightFin.svelte";
  import RightHalf from "./RightHalf.svelte";

  let classes = "";
  export { classes as class };

  let followEnabled = false;
  let mouseLeaveTimeout: NodeJS.Timeout | undefined = undefined;
  let innerWidth = typeof window != "undefined" ? window.innerWidth : 0;
  let innerHeight = typeof window != "undefined" ? window.innerHeight : 0;
  let mousePos: [number, number] = [innerWidth / 2, innerHeight / 2];

  $: delta = [mousePos[0] - innerWidth / 2, mousePos[1] - innerHeight / 2];
  $: distance = Math.max(0.1, Math.sqrt(delta[0] ** 2 + delta[1] ** 2));

  $: tilt = Math.min(1, distance / (Math.max(innerWidth, innerHeight) / 2)) ** 2 * 40;
</script>

<svelte:window bind:innerWidth bind:innerHeight />
<svelte:body
  on:mousemove={(ev) => (mousePos = [ev.pageX, ev.pageY])}
  on:touchmove={(ev) => (mousePos = [ev.touches[0].pageX, ev.touches[0].pageY])}
  on:mouseleave={() => (mouseLeaveTimeout = setTimeout(() => (mousePos = [innerWidth / 2, innerHeight / 2]), 1000))}
  on:mouseenter={() => clearTimeout(mouseLeaveTimeout)}
/>

<svg
  role="presentation"
  viewBox="0 0 400 512"
  width="400"
  height="512"
  class={twMerge("h-full w-full max-w-[512px]", classes)}
  style:color={`rgb(${Array(3).fill($randomBrightness).join(",")})`}
  preserveAspectRatio="xMidYMid meet"
  on:animationend|self={() => setTimeout(() => (followEnabled = true), 1000)}
>
  <!-- GLOW -->
  <filter id="glow" x="-100%" y="-100%" height="300%" width="300%">
    <feGaussianBlur stdDeviation="4" />
    <feComponentTransfer>
      <feFuncA type="linear" slope="0.9" id="whaleGlowAlpha" />
    </feComponentTransfer>
    <feMerge>
      <feMergeNode />
      <feMergeNode in="SourceGraphic" />
    </feMerge>
  </filter>

  <Layer
    style="perspective: 300px; perspective-origin: 640px 360px; transition: transform 0.8s ease-out; backface-visibility:hidden"
    transform="translate(-440px, -85px) {followEnabled
      ? `translate3d(0, 32px, 0) rotate3d(${delta[1] / distance}, ${
          -delta[0] / distance
        }, 0, ${-tilt}deg) translate3d(0, -32px, -16px)`
      : ''}"
  >
    <!-- SHADOW -->
    <Layer class="text-zinc-500 opacity-30" transform="translate3d(0, 0, -32px)">
      <Layer transform="rotate3d(0, 1, 0, -15deg)">
        <RightHalf />
      </Layer>

      <Layer transform="rotate3d(0, 1, 0, 15deg)">
        <LeftHalf />
      </Layer>
    </Layer>

    <!-- RIGHT HALF -->
    <Layer transform="rotate3d(0, 1, 0, 15deg)">
      <RightHalf />

      <Layer class="whale-core" transform="scale(0.9) rotate3d(0, 1, 0, 10deg) translate3d(675px, 358px, 10px)">
        <Layer transform="rotate(-90deg)" transformOrigin="0 0">
          <Core />
        </Layer>
      </Layer>

      <Layer transform="rotate3d(0, 1, 0, 15deg) translate3d(4px, 0, 4px)">
        <Layer id="whale-right-fin" transformOrigin="680px 425px">
          <RightFin />
        </Layer>
      </Layer>
    </Layer>

    <!-- LEFT HALF -->
    <Layer transform="rotate3d(0, 1, 0, -15deg)">
      <LeftHalf />

      <Layer class="whale-core" transform="scale(0.9) rotate3d(0, 1, 0, -10deg) translate3d(605px, 358px, 10px)">
        <Layer transform="rotate(-90deg) scale(1, -1)" transformOrigin="0 0">
          <Core />
        </Layer>
      </Layer>

      <Layer transform="rotate3d(0, 1, 0, -15deg) translate3d(-4px, 0, 4px)">
        <Layer id="whale-left-fin" transformOrigin="600px 425px">
          <LeftFin />
        </Layer>
      </Layer>
    </Layer>
  </Layer>
</svg>

<style lang="postcss">
  :global(.whale-emissive) {
    @apply text-accent;
    filter: url(#glow);
  }

  /*
   Load animations 
  */

  @media not (prefers-reduced-motion) {
    svg {
      animation: draw 3s 0.5s ease-in both;
    }
    :global(.whale-core) {
      animation: installCores 1s 3.5s ease-out both;
    }
    :global(:not(.whale-core) > * > .whale-emissive) {
      animation: startEmissive 0.5s 4.5s ease-in both;
    }
  }

  @keyframes draw {
    from {
      clip-path: inset(100% 0 0 0);
    }
    to {
      clip-path: inset(0);
    }
  }

  @keyframes startEmissive {
    from {
      color: currentColor;
      filter: none;
    }
  }

  @keyframes installCores {
    from {
      transform: translate3d(640px, 85px, 60px);
    }
  }

  /*
    Permanent anims
  */

  @media not (prefers-reduced-motion) {
    :global(#whale-left-fin),
    :global(#whale-right-fin) {
      animation: flap 5s 5.5s alternate infinite ease-in-out both;
    }
    :global(#whale-right-fin) {
      animation-direction: alternate-reverse;
    }

    :global(#whale-left-tail),
    :global(#whale-right-tail) {
      animation: wave 5s 5.5s alternate infinite ease-in-out both;
    }
  }

  @keyframes flap {
    from {
      transform: rotate3d(0.25, 0.75, 0, 5deg) rotate3d(0, 0, 1, -5deg);
    }
    100% {
      transform: rotate3d(0.25, 0.75, 0, -5deg) rotate3d(0, 0, 1, 5deg);
    }
  }

  @keyframes wave {
    from {
      transform: rotate3d(0.9, 0, -0.1, 10deg);
    }
    100% {
      transform: rotate3d(0.9, 0, -0.1, -10deg);
    }
  }
</style>
