<script lang="ts">
  import { faArrowUp } from "@fortawesome/free-solid-svg-icons/faArrowUp";
  import Fa from "svelte-fa/src/fa.svelte";
  import { twMerge } from "tailwind-merge";

  let classes = "";
  export { classes as class };
</script>

<div class={twMerge("outer relative h-20 w-20 opacity-75", classes)} inert>
  <div class="absolute left-1/2 top-1 flex h-8 w-8 -translate-x-1/2 items-center justify-center rounded-full bg-accent">
    <Fa icon={faArrowUp} class="text-black" fw scale={1.5} />
  </div>
  <div class="absolute bottom-1 left-0 h-8 w-8 rounded-full bg-accent" />
  <div class="absolute bottom-1 right-0 h-8 w-8 rounded-full bg-accent" />
</div>

<style>
  @media not (prefers-reduced-motion) {
    .outer {
      animation: 2s linear infinite spin;
      transform-origin: center;
    }
  }

  @keyframes spin {
    0% {
      transform: scale(1) rotate(0deg);
    }
    12.5% {
      transform: scale(1.2) rotate(45deg);
    }
    25% {
      transform: scale(1) rotate(90deg);
    }
    37.5% {
      transform: scale(1.2) rotate(135deg);
    }
    50% {
      transform: scale(1) rotate(180deg);
    }
    62.5% {
      transform: scale(1.2) rotate(225deg);
    }
    75% {
      transform: scale(1) rotate(270deg);
    }
    87.5% {
      transform: scale(1.2) rotate(315deg);
    }
    100% {
      transform: scale(1) rotate(360deg);
    }
  }
</style>
