<script lang="ts">
  import Cookie from "js-cookie";
  import Fa from "svelte-fa/src/fa.svelte";
  import { twMerge } from "tailwind-merge";
  import { browser } from "$app/environment";
  import type { LinkPlatform } from "$server/content";
  import { platforms } from "./PlatformLink.svelte";

  export let provider: string;
  export let policyUrl: string;
  let classes = "";
  export { classes as class };

  let consented = browser && Cookie.get("consent-" + provider) == "true";

  function consent() {
    Cookie.set("consent-" + provider, "true", { sameSite: "strict" });
    consented = true;
  }

  $: icon = provider in platforms && platforms[provider as LinkPlatform].icon;
</script>

{#if consented}
  <slot />
{:else}
  <aside class={twMerge("flex h-full w-full flex-col items-center justify-center gap-8 bg-black", classes)}>
    {#if icon}
      <Fa {icon} size="4x" />
    {/if}

    <h1 class="font-title text-xl text-white">
      This <span class="text-2xl">{provider}</span> embed might use third-party cookies.
    </h1>

    <div class="flex flex-wrap gap-4">
      <a
        href={policyUrl}
        target="_blank"
        rel="noopener"
        class={twMerge(
          "rounded border-2 border-foreground p-4 font-bold ",
          "transition hover-focus:bg-foreground hover-focus:text-black"
        )}
      >
        {provider} cookie policy
      </a>
      <button
        on:click={consent}
        class={twMerge(
          "rounded border-2 border-accent p-4 font-bold text-accent opacity-80",
          "transition hover-focus:bg-accent hover-focus:text-black"
        )}
      >
        Allow embed
      </button>
    </div>
  </aside>
{/if}
