<script lang="ts">
  import { twMerge } from "tailwind-merge";

  export let href: string;
  let classes = "";
  export { classes as class };

  $: external = href.startsWith("http");
</script>

<a
  {href}
  target={external ? "_blank" : undefined}
  rel={external ? "noopener" : undefined}
  class={twMerge("text-accent opacity-70 transition hover-focus:opacity-100", classes)}
>
  <slot>{href}</slot>
</a>
