<script lang="ts">
  import { twMerge } from "tailwind-merge";
  import { randomBrightness } from "$lib/randomBrightness";

  const TIME_SCALE = 0.5;

  let classes = "";
  export { classes as class };
</script>

<svg
  viewBox="0 0 860 100"
  xmlns="http://www.w3.org/2000/svg"
  style:color={`rgb(${Array(3)
    .fill(Math.min(255, 50 + $randomBrightness * 300))
    .join(",")})`}
  class={twMerge(
    "h-auto max-h-full w-auto max-w-[80vw] overflow-visible fill-current drop-shadow-glow-md transition-colors",
    classes
  )}
  style:--time-scale={TIME_SCALE + "s"}
>
  <!-- E -->
  <g class="e1">
    <path
      d="m112.18 74.447v-11.916l-7.3592-7.3592h-65.184v-15.77h58.551l6.8868-6.8868v-9.9746h-65.841l-37.31-21.541v24.943l7.2807 4.2035v44.394z"
    />
    <path d="m111.59 14.347v-12.626h-96.272l14.835 8.5652h17.919l6.4547 3.7266z" />
  </g>
  <!-- L -->
  <g class="l">
    <path d="m118.97 74.211v-26.271l4.8417-4.8417v-9.8644l24.78-24.78v47.052h64.746l6.951 6.951v10.877z" />
    <path d="m119.23 28.668 26.39-26.39h-26.4z" />
  </g>
  <!-- I -->
  <g class="i1">
    <path d="m228.92 74.038h30.258v-26.224l-4.8671-4.8671v-10.322l-25.17-25.17z" />
    <path d="m258.47 28.212v-26.231h-26.939z" />
  </g>
  <!-- M -->
  <path
    class="m-2"
    d="m296.67 73.894h-25.619l-4.9818-4.9818v-66.763h34.934l37.998 37.998 38.387-38.387h7.2724v22.06l-44.256 44.256h-29.472l13.041-13.041-27.041-27.041z"
  />
  <path class="m-1" d="m378.07 73.795h24.811l5.3893-5.3893v-66.344h-16.05v24.521l-13.753 13.753z" />
  <!-- I -->
  <g class="i2">
    <path d="m416.35 73.874h29.648v-66.336l-25.367 25.367v10.119l-4.7292 4.7292z" />
    <path d="m416.23 28.62 27.344-27.344h-26.967z" />
  </g>
  <!-- N -->
  <path class="n-1" d="m458.98 74.061-5.2312-5.2312v-67.002h17.375v24.881l13.156 13.156.076 34.073z" />
  <path
    class="n-2"
    d="m527.33 74.061-49.928-49.928-.4048-22.305h8.0745l60.189 60.189v-10.809l-4.282-4.282.093-45.098h61.84l-30.957 23.863v49.022z"
  />
  <!-- A -->
  <path
    class="a"
    d="m578.92 74.713v-44.987l36.083-27.898h43.933l36.615 27.746v44.496h-26.255l-.0107-33.641-21.39-16.62h-20.186l-19.861 14.461v12.774l-5.7433 5.7433v8.5309l38.484-28.673v25.259l-15.668 12.189z"
  />
  <!-- T -->
  <path
    class="t"
    d="m712.54 74.713-4.7254-4.74v-55.667h-20.85l-15.729-12.478h176.27l-14.338 8.2781h-18.952l-6.8001 3.926h-80.429v11.313l11.013 11.013.3426 38.355z"
  />
  <!-- E -->
  <g class="e2">
    <path d="m756.72 1.8278h89.855l-14.338 8.2781h-18.952l-6.8001 3.926h-49.966z" />
    <path
      d="m750.9 74.713v-12.167l7.5968-7.5968h63.938v-15.292h-57.874l-7.1813-7.1812v-9.6108h65.63l37.262-21.513v24.062l-7.7132 4.4532v44.22z"
    />
  </g>
</svg>

<style>
  @media not (prefers-reduced-motion) {
    :global(body:not(.skip)) svg {
      --move-y-distance: 40px;
      --move-x-distance: 40px;

      --phase2-delay: calc(var(--time-scale) * 0.5);
      --phase3-delay: calc(var(--time-scale) * 1);
      --phase4-delay: calc(var(--time-scale) * 1.2);
      --phase5-delay: calc(var(--time-scale) * 1.5); /* move up */
      --phase6-delay: calc(var(--time-scale) * 2); /* move up */

      animation: 0.5s calc(var(--time-scale) * 4) both scale;
    }

    /* phase one */
    .i2 {
      animation: var(--time-scale) 0s both drawDown;
    }

    /* phase two */
    .m-1 {
      animation: var(--time-scale) var(--phase2-delay) both drawLeft, var(--time-scale) var(--phase6-delay) both moveY;
    }
    .n-1 {
      animation: var(--time-scale) var(--phase2-delay) both drawRight, var(--time-scale) var(--phase6-delay) both moveY;
    }
    .e1 {
      animation: calc(var(--time-scale) * 2) ease-in var(--phase2-delay) both drawLeft;
    }
    .e2 {
      animation: calc(var(--time-scale) * 2) ease-in var(--phase2-delay) both drawRight;
    }

    /* phase three */
    .m-2 {
      animation: calc(var(--time-scale) * 2) var(--phase3-delay) both drawLeft,
        var(--time-scale) var(--phase6-delay) both moveY;
    }
    .n-2 {
      animation: var(--time-scale) var(--phase3-delay) both drawRight, var(--time-scale) var(--phase6-delay) both moveY;
    }

    /* phase four */
    .i1 {
      animation: var(--time-scale) var(--phase4-delay) both drawUp,
        calc(var(--time-scale) * 2) var(--phase5-delay) both moveX;
    }
    .l {
      --move-x-distance: 80px;
      animation: calc(var(--time-scale) * 1.5) var(--phase4-delay) both drawLeft,
        calc(var(--time-scale) * 1.5) var(--phase6-delay) both moveXY;
    }
    .a {
      animation: calc(var(--time-scale) * 2) var(--phase4-delay) both drawRight;
    }
    .t {
      --move-x-distance: -180px;
      animation: calc(var(--time-scale) * 3) var(--phase4-delay) both drawRight,
        calc(var(--time-scale) * 3) var(--phase4-delay) both moveX;
    }
  }

  @keyframes scale {
    from {
      transform: scale(1.15);
    }
  }

  @keyframes drawDown {
    from {
      clip-path: inset(0 0 100% 0);
    }
    to {
      clip-path: inset(0);
    }
  }
  @keyframes drawUp {
    from {
      clip-path: inset(100% 0 0 0);
    }
    to {
      clip-path: inset(0);
    }
  }
  @keyframes drawLeft {
    from {
      clip-path: inset(0 0 0 100%);
    }
    to {
      clip-path: inset(0);
    }
  }
  @keyframes drawRight {
    from {
      clip-path: inset(0 100% 0 0);
    }
    to {
      clip-path: inset(0);
    }
  }

  @keyframes moveY {
    from {
      transform: translateY(var(--move-y-distance));
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes moveX {
    from {
      transform: translateX(var(--move-x-distance));
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes moveXY {
    0% {
      transform: translate(var(--move-x-distance), var(--move-y-distance));
    }
    50% {
      transform: translate(0, var(--move-y-distance));
    }
    100% {
      transform: translate(0);
    }
  }
</style>
