<script lang="ts" context="module">
  import type { Page } from "@sveltejs/kit";
  import type { Root, Element as HastElement, RootContent } from "hast";
  import type { HTMLAttributes } from "svelte/elements";
  import { twMerge } from "tailwind-merge";
  import { assets } from "$app/paths";
  import { page } from "$app/stores";
  import LinkEl from "./Link.svelte";

  const elements: {
    [X in keyof HTMLElementTagNameMap]?: (
      node: HastElement,
      page: Page
    ) => Partial<HTMLAttributes<HTMLElementTagNameMap[X]>>;
  } = {
    ul: () => ({ class: "my-4 list-inside list-disc" }),
    ol: () => ({ class: "my-2 list-inside list-decimal" }),
    h1: () => ({ class: "text-2xl font-title [&:not(:first-of-type)]:mt-10 clear-both" }),
    p: () => ({ class: "my-4 text-justify" }),
    img: (n, p) => {
      const src = new URL((n.properties?.src ?? "") + "", p.url.origin);
      const float = src.searchParams.get("float");
      src.search = "";

      return {
        loading: "lazy",
        decoding: "async",
        src: assets + src.pathname,
        class: twMerge("my-2", float && (float == "left" ? "float-left mr-2" : "float-right ml-2")),
      };
    },
  };
  const getElement = (node: HastElement, page: Page) => {
    const fn = elements[node.tagName as keyof typeof elements];
    const copy = { ...node, properties: node.properties ? { ...node.properties } : {} };
    if (fn) Object.assign(copy.properties, fn(copy, page));
    return copy;
  };
</script>

<script lang="ts">
  export let node: Root | RootContent | RootContent[];
  export let replacer = (text: string) => text;
</script>

{#if Array.isArray(node)}
  {#each node as child}
    <svelte:self {...$$props} node={child} />
  {/each}
{:else if node.type == "root"}
  <svelte:self {...$$props} node={node.children} />
{:else if node.type == "text"}
  {replacer(node.value)}
{:else if node.type == "element"}
  {#if node.tagName == "a"}
    <LinkEl href="#" {...node.properties}><svelte:self {...$$props} node={node.children} /></LinkEl>
  {:else}
    {@const element = getElement(node, $page)}
    {#if element.children}
      <svelte:element this={element.tagName} {...element.properties}>
        <svelte:self {...$$props} node={element.children} />
      </svelte:element>
    {:else}
      <svelte:element this={element.tagName} {...element.properties} />
    {/if}
  {/if}
{/if}
