<script lang="ts">
  import type { IconDefinition } from "@fortawesome/fontawesome-common-types";
  import { faBars } from "@fortawesome/free-solid-svg-icons/faBars";
  import { faExternalLink } from "@fortawesome/free-solid-svg-icons/faExternalLink";
  import { quintInOut } from "svelte/easing";
  import { slide } from "svelte/transition";
  import Fa from "svelte-fa/src/fa.svelte";
  import { twMerge } from "tailwind-merge";
  import { page } from "$app/stores";
  import { animationDelays, animationsDone } from "$lib/loadAnimation";
  import MenuLine from "./MenuLine.svelte";

  export let title: string;
  export let href: string;
  export let description = "";
  export let icon: IconDefinition | undefined = undefined;
  export let indexFactor = 0;
  export let flip = false;

  $: external = href.startsWith("http");
  let active = $page.url.pathname == href;
  $: active = $page.url.pathname == href;

  let hideDescription = active;
</script>

<div
  class="wrapper group relative flex items-end whitespace-nowrap transition-transform duration-1000"
  class:md:scale-125={active}
  class:md:flex-row-reverse={flip}
  class:skip={$animationsDone}
  style:--delay-add={animationDelays.menu + "s"}
  style:--delay={indexFactor + "s"}
>
  <div
    class={twMerge(
      "connector absolute top-1/2 h-1/2 border-r-2 border-current drop-shadow-glow transition max-md:hidden ",
      !active && "group-hover:text-accent",
      flip ? "left-0" : "right-0"
    )}
  />
  <div
    class={twMerge(
      "under-line absolute bottom-0 left-0 -z-10 w-full border-b-2 border-current transition",
      !active && "group-hover:text-accent",
      flip && "flipped"
    )}
  />

  <svelte:element
    this={active ? "div" : "a"}
    href={(!active && href) || undefined}
    target={!active && external ? "_blank" : undefined}
    rel={!active && external ? "no-opener" : undefined}
    class={twMerge("link block w-full transition", !active && "group-hover:text-accent", flip && "flipped text-right")}
  >
    <div
      class={twMerge(
        "flex items-center px-3 py-3 font-title text-2xl leading-none drop-shadow-glow",
        flip && "md:flex-row-reverse"
      )}
    >
      <div class={twMerge("pr-6", flip ? "md:pl-4" : "md:pr-4")}>
        {#if icon}<Fa {icon} fw size="1.5x" class="-skew-x-12" />{/if}
      </div>

      <div>
        <div>
          <span>{title}</span>
          {#if external}<Fa icon={faExternalLink} size="0.75x" class="mx-1 inline-block -skew-x-12" />{/if}
        </div>

        {#if description && !hideDescription}
          <div
            class="description -mb-2 px-px text-sm opacity-75"
            class:descriptionHide={active}
            on:animationend={() => active && (hideDescription = true)}
          >
            {description}
          </div>
        {/if}
      </div>
    </div>
  </svelte:element>

  {#if active}
    <a
      transition:slide={{ axis: "x", duration: 300, easing: quintInOut }}
      href="/"
      class={twMerge(
        "group flex items-center gap-4 whitespace-nowrap border-b-2 border-current px-8 py-2 text-xl font-bold transition hover:text-accent",
        flip && "md:flex-row-reverse"
      )}
    >
      Menu

      <Fa icon={faBars} fw class="-mb-0.5 inline-block" size="1.2x" />

      <div
        class={twMerge(
          "absolute -bottom-2 h-4 w-4 origin-center -translate-y-px -rotate-45 max-md:right-3",
          flip ? "md:left-3 md:-scale-100" : "right-3",
          "border-b-2 border-r-2 border-current"
        )}
      />
    </a>
  {/if}

  <MenuLine {flip} {indexFactor} class={active ? "group-hover:text-foreground" : ""} />
</div>

<style>
  @media (max-width: 768px) {
    .link,
    .connectorm,
    .under-line,
    .flipped {
      --delay-add: 0s;
    }
  }

  @media not (prefers-reduced-motion) {
    :not(.skip) .link {
      animation: 2s calc(var(--delay) + var(--delay-add) + 1.2s) both uncoverLeft;
    }
    :not(.skip) .connector {
      animation: 0.2s ease-in calc(var(--delay) + var(--delay-add) + 1s) both uncoverDown;
    }
    :not(.skip) .under-line {
      animation: 1s ease-out calc(var(--delay) + var(--delay-add) + 1.2s) both uncoverLeft;
    }
    :not(.skip) .flipped {
      animation-name: uncoverRight;
    }
  }

  .description {
    animation: 0.5s both riseDescription;
    overflow: hidden;
  }
  .descriptionHide {
    animation: 0.5s reverse both riseDescription;
  }

  @keyframes riseDescription {
    from {
      height: 0;
      width: 0%;
      margin: 0;
    }
    to {
      height: 22px;
      width: 100%;
    }
  }
</style>
