<script lang="ts">
  import { twMerge } from "tailwind-merge";
  import { animationDelays, animationsDone } from "$lib/loadAnimation";

  export let indexFactor = 0;
  export let flip = false;
  let classes = "";
  export { classes as class };

  $: distance = 1 - indexFactor * 2 || 0.001;
</script>

<svg
  class={twMerge(
    "absolute top-1/2 h-[9vh] min-h-full w-[10vw] overflow-visible drop-shadow-glow transition group-hover:text-accent max-md:hidden",
    flip ? "right-full" : "left-full",
    classes
  )}
  class:skip={$animationsDone}
  class:fadeIn={!$animationsDone}
  style:--fadeIn-delay={animationDelays.whale + "s"}
  style:--delay={indexFactor + animationDelays.menu + "s"}
  viewBox="0 0 100 100"
  width="128px"
  height="128px"
  preserveAspectRatio="none"
>
  <path
    d="M 0 0 L 25 0 L 100 100"
    class="line"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-dasharray="500 500"
    fill="none"
    vector-effect="non-scaling-stroke"
    style:transform="scaleY({distance}) scaleX({flip ? -1 : 1})"
    style:transform-origin="top"
  />
</svg>

<style>
  @media not (prefers-reduced-motion) {
    :not(.skip) .line {
      animation: 1s var(--delay) both draw;
    }
  }

  @keyframes draw {
    from {
      stroke-dashoffset: -500;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
</style>
