<div
  class="text-glow pointer-events-none absolute right-0 top-0 flex w-[512px] max-w-full flex-col gap-2 p-1 text-right text-accent"
>
  <div class="hidden noscript:block">
    <strong>JavaScript is disabled.</strong><br />
    This site will function without it, but your experience might be degraded.
  </div>
  <div class="motion-safe:hidden">
    <strong>Motion reduction is active.</strong><br />
    Most animations are deactivated.
  </div>
</div>
