<script lang="ts">
  import { fade } from "svelte/transition";
  import { twMerge } from "tailwind-merge";
  import { page } from "$app/stores";
  import { getPagePosition, receivePage, sendPage } from "$lib/menu";
  import { reducedMotion } from "$lib/reducedMotion";
  import type { PageTransitionParams } from "$lib/transitions";
  import MenuButton from "./MenuButton.svelte";

  export let fullWidth = false;
  export let whalePadded = true;
  let classes = "";
  export { classes as class };

  const path = $page.url.pathname;
  const pageInfo = $page.data.page;
  const pagePos = getPagePosition(path) ?? [0, 0];

  let inTransition = false;
  $: flip = !!pagePos[0];

  function intro(node: Element, params: PageTransitionParams) {
    return reducedMotion ? fade(node) : receivePage(node, params);
  }
  function outro(node: Element, params: PageTransitionParams) {
    return reducedMotion ? fade(node) : sendPage(node, params);
  }
</script>

<div
  in:intro={{ href: path }}
  out:outro={{ href: path }}
  on:introstart={() => (inTransition = true)}
  on:introend={() => (inTransition = false)}
  on:outrostart={() => (inTransition = true)}
  on:outroend={() => (inTransition = false)}
  class="relative col-start-1 row-start-1 flex min-h-full w-full flex-col"
>
  {#if pageInfo?.title}
    <header class={twMerge("relative mb-8 flex w-full")}>
      <div class={twMerge("mx-auto flex w-full items-center lg:w-[80vw]", flip ? "justify-start" : "justify-end")}>
        <div
          out:sendPage|global={{ href: path, isReference: true }}
          in:receivePage|global={{ href: path, isReference: true }}
          class={twMerge("transform transition-all max-md:w-full")}
          class:flex-row-reverse={flip}
        >
          <MenuButton {...pageInfo} {flip} indexFactor={pagePos[1]} />
        </div>
      </div>
    </header>
  {/if}

  <div
    class={twMerge(
      "h-full w-full px-4 py-4",
      !fullWidth && "mx-auto max-w-6xl",
      whalePadded && (flip ? "md:pl-[10vw]" : "md:pr-[10vw]"),
      classes
    )}
  >
    <slot {inTransition} />
  </div>
</div>
