<script lang="ts" context="module">
  import type { IconDefinition } from "@fortawesome/fontawesome-common-types";
  import { faDiscord } from "@fortawesome/free-brands-svg-icons/faDiscord";
  import { faFacebook } from "@fortawesome/free-brands-svg-icons/faFacebook";
  import { faInstagram } from "@fortawesome/free-brands-svg-icons/faInstagram";
  import { faSoundcloud } from "@fortawesome/free-brands-svg-icons/faSoundcloud";
  import { faSpotify } from "@fortawesome/free-brands-svg-icons/faSpotify";
  import { faTiktok } from "@fortawesome/free-brands-svg-icons/faTiktok";
  import { faTwitch } from "@fortawesome/free-brands-svg-icons/faTwitch";
  import { faTwitter } from "@fortawesome/free-brands-svg-icons/faTwitter";
  import { faYoutube } from "@fortawesome/free-brands-svg-icons/faYoutube";
  import Fa from "svelte-fa/src/fa.svelte";
  import { twMerge } from "tailwind-merge";
  import { page } from "$app/stores";
  import type { LinkPlatform } from "$server/content";
  import Link from "./Link.svelte";

  type PlatformRecord = {
    getLink(id: string): string;
    icon: IconDefinition;
  };

  export const platforms: Record<LinkPlatform, PlatformRecord> = {
    Discord: {
      getLink: (id) => "https://discord.gg/" + id,
      icon: faDiscord,
    },
    Facebook: {
      getLink: (id) => "https://www.facebook.com/" + id,
      icon: faFacebook,
    },
    Instagram: {
      getLink: (id) => "https://www.instagram.com/" + id,
      icon: faInstagram,
    },
    Spotify: {
      getLink: (id) => "https://open.spotify.com/artist/" + id,
      icon: faSpotify,
    },
    SoundCloud: {
      getLink: (id) => "https://soundcloud.com/" + id,
      icon: faSoundcloud,
    },
    Twitch: {
      getLink: (id) => "https://www.twitch.tv/" + id,
      icon: faTwitch,
    },
    Twitter: {
      getLink: (id) => "https://twitter.com/" + id,
      icon: faTwitter,
    },
    TikTok: {
      getLink: (id) => "https://www.tiktok.com/" + id,
      icon: faTiktok,
    },
    YouTube: {
      getLink: (id) => "https://www.youtube.com/" + id,
      icon: faYoutube,
    },
  };
</script>

<script lang="ts">
  export let platform: LinkPlatform;
  let classes = "";
  export { classes as class };

  $: [id, label] = $page.data.site.platforms[platform];
  $: record = platforms[platform];
</script>

<Link
  href={record.getLink(id)}
  class={twMerge("mx-auto flex items-center gap-2 p-1 text-xl opacity-60 drop-shadow-glow", classes)}
>
  <Fa icon={record.icon} fw size="1.5x" />

  <span class="flex flex-col items-start whitespace-nowrap font-title leading-none">
    <span class="-mt-1 ml-1 text-sm">{platform}</span>
    {#if label}<span>{label}</span>{/if}
  </span>
</Link>
