<script lang="ts">
  import { base } from "$app/paths";
  import { page } from "$app/stores";
  import { platforms } from "./PlatformLink.svelte";

  $: title = [$page.data.page?.title, "EliminateHQ"].filter((v) => v).join(" | ");
  $: description = $page.data.page?.description ?? $page.data.site.description ?? "";

  function jsonLd(content: Record<string, unknown>) {
    return '<script type="application/ld+json">' + JSON.stringify(content) + "</" + "script>";
  }
</script>

<svelte:head>
  <title>{title}</title>
  <meta name="description" content={description} />

  <meta property="og:title" content={title} />
  <meta property="og:type" content="website" />
  <meta property="og:description" content={description} />
  <meta property="og:url" content={$page.url.href} />
  <meta name="twitter:card" content="summary" />

  <meta property="og:image" content={base + "/icon.webp"} />

  <meta name="theme-color" content="#70FF40" />

  {#if $page.url.pathname == "/about"}
    <!-- Subject definition -->
    <!-- eslint-disable-next-line svelte/no-at-html-tags -->
    {@html jsonLd({
      "@context": "https://schema.org",
      "@type": "ProfilePage",
      mainEntity: {
        "@type": "Person",
        name: "Eliminate",
        alternateName: "Nathan Merril",
        description: "The most handsome and talented music producer and DJ out there and Virtual Riot's best friend.",
        image: $page.url.origin + base + "/ytprofilepicture.webp",
        sameAs: Object.entries($page.data.site.platforms).map(([type, a]) => platforms[type].getLink(a[0])),
      },
    })}
  {/if}
</svelte:head>
