<script lang="ts">
  import { onMount } from "svelte";
  import { browser } from "$app/environment";
  import { animationDelays, animationsDone } from "$lib/loadAnimation";
  import { reducedMotion } from "$lib/reducedMotion";

  let clicked = false;
  let hide = reducedMotion;

  function onClick() {
    if (!clicked) clicked = true;
    else $animationsDone = true;
  }

  onMount(() => {
    setTimeout(() => (hide = true), animationDelays.mainDone * 1000);
    setTimeout(() => ($animationsDone = true), animationDelays.done * 1000);
  });

  $: if ($animationsDone) document.body.classList.add("skip");
</script>

{#if browser && !$animationsDone && !hide}
  <div
    class="text-glow fixed inset-0 z-40 p-4 text-accent"
    class:opacity-0={!clicked}
    role="none"
    on:click={onClick}
    on:dblclick={() => ($animationsDone = true)}
  >
    Click again or press <kbd>Enter</kbd> to skip intro.
  </div>
{/if}
